{
	"env": { "shared-node-browser":true },
	"globals": {},
	"parserOptions": {
		"ecmaVersion": 3,
	},
	"plugins": [ "html", "json" ],
	"rules": {
		"no-use-before-define": [ 1, {
			"functions":true, "classes":true, "variables":true
		}],
		"no-bitwise": 0,
		"curly": 0,
		"comma-style": [ 2, "last" ],
		"no-trailing-spaces": 2,
		"comma-dangle": [ 2, "never" ]
	}
}
