*.md        text eol=lf
bits/*.js   text eol=lf
test.js     text eol=lf
xlsx*.js    text eol=lf
*.flow.js   text eol=lf

docbits/*         linguist-documentation
dist/*            linguist-generated=true binary
xlsx.js           linguist-generated=true binary
xlsxworker.js     linguist-generated=true binary
tests/core.js     linguist-generated=true binary
tests/fixtures.js linguist-generated=true binary
