test_files/
tests/files/
index.html
misc/
node_modules
tmp
*.txt
*.csv
*.dif
*.prn
*.slk
*.socialcalc
*.xls
*.xlsb
*.xlsm
*.xlsx
*.ods
*.xml
*.htm
*.html
*.sheetjs
.gitignore
.jshintrc
CONTRIBUTING.md
Makefile
*.lst
.npmignore
xlsworker.js
shim.js
test.js
.jscs.json
.gitmodules
.travis.yml
.flowconfig
bits/
odsbits/
tests/
