test_files/
tests/files/
index.html
misc/
node_modules
tmp
*.xls
*.xlsb
*.xlsm
*.xlsx
*.xml
.gitignore
.jshintrc
CONTRIBUTING.md
Makefile
tests.lst
.npmignore
xlsworker.js
shim.js
test.js
.jscs.json
.gitmodules
.travis.yml
